<a id="navestop" style="color: #ff0000;" data-bind="visible: is_printing(), enable: is_printing(), click: function() { sendCommand('reset'); return false; }">
<i class="fas fa-stop-circle"></i>
</a>

